<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ESJ config done</h1>
    <h2>
        <%= data %>
    </h2>
    <h3>
        <ul>
            <% data.map(function(item){ %>
               <li><%= item.name %></li>
            <% }); %>
        </ul>
    </h3>
</body>
</html>



<!-- 

    model : => tabel trong dataBase : user {
        email: 'test@example.com'
    }

    ORM: user.findOne({
        where: {
            email: 'test@example.com'
        }
        , 
        limit : 1000
    })

    not ORM: select * from user where email = 'test@example.com' => collection pool 

     < = > thu gui tuw vn => new York University => tu viet nam => hq => my 
    => ket noi tu vn qua my disconnect  => ton thoi gian giam hieu nang
    => collections pool =>  vn => hq => my => duong day vn => my
    => collections pool => overwell => qua tai he thong => dataBase => 1000 maximun => limit request => 900 thang => query 

    => bi cham  => chap => bi chet 


 -->
